{% extends 'general/base.html' %}

{% block javascript %}
    <script src='{{STATIC_URL}}js/user-admin.js'></script>
{% endblock %}

{% block titulo %}
Archived Users
{% endblock %}

{% block sub-menu %}
    {% include "general/submenu_manage.html" %}
{% endblock %}


{% block content %}

<div class="row"/>
    <div class="col-xs-12 title-block">
        <h3>Archived Users</h3>
        <h4>Click on a user to reactivate it. When you're done, you can go back to the <a href="/manage/users/">active user list.</a></h4>
    </div>
</div>


<div class="row"/>
    <div class="col-xs-12">
        <ul id="archived-users" class="manage-list">
            <li>
                <h2 class="manage-list-header">Users (2)</h2>
            </li>

            <li class="archived">
              <div id="1" class="manage-list-item">
                <a href="#" class="reactivate-link"></a>
                <div style="display: inline-block;">
                  <h3>Sergio Cirasa1</h3>
                </div>
              </div>
            </li>

            <li class="archived">
              <div id="2" class="manage-list-item">
                <a href="#" class="reactivate-link"></a>
                <div style="display: inline-block;">
                  <h3>Sergio Cirasa2</h3>
                </div>
              </div>
            </li>

        </ul>

    </div>
</div>

{% endblock %}