{% extends 'general/base.html' %}

{% block javascript %}
    <script src='{{STATIC_URL}}js/user-admin.js'></script>
{% endblock %}

{% block titulo %}
Archived Users
{% endblock %}

{% block sub-menu %}
    {% include "general/submenu_manage.html" %}
{% endblock %}


{% block content %}

<div class="row"/>
    <div class="col-xs-12 title-block">
        <h3>Archived Users</h3>
        <h4>Click on a user to reactivate it. When you're done, you can go back to the <a href="/manage/users/">active user list.</a></h4>
    </div>
</div>


<div class="row"/>
    <div class="col-xs-12">
        <ul id="archived-users" class="manage-list">
            <li>
                <h2 id="users-count" class="manage-list-header">Users ({{ users|length }})</h2>
            </li>
            <div class="scroll-content" data-remove-height="275">
                {% for user in users %}
                <li id="{{ user.id }}" class="archived">
                  <div class="manage-list-item">
                    <a href="javascript:archiveUser({{ user.id }},'False')" class="reactivate-link"></a>
                    <div style="display: inline-block;">
                     {% if user.first_name %}
                        <h3>{{ user.first_name }} {{ user.last_name }}</h3>
                      {% else %}
                        <h3>{{ user.username }}</h3>
                      {% endif %}
                    </div>
                  </div>
                </li>
                {% endfor %}
            </div>
        </ul>

    </div>
</div>

{% endblock %}