<div class="title-block">
    <h3>Change Your Password</h3>
    <h4>Your new password must be 4 or more characters.</h4>
</div>

<div id="alert-password-error" class="alert alert-danger" style="display: none">
    <span class="glyphicon glyphicon-remove form-control-feedback"></span>
    Your new and confirmed passwords do not match.
</div>

<div id="alert-password-success"class="alert alert-warning alert-success" style="display: none">
  <button type="button" class="close"  aria-hidden="true">&times;</button>
  Password Successfully Changed!
</div>

<form class="form-horizontal" role="form">
  <div class="form-group">
    <label class="col-sm-3 control-label">New Password</label>
    <div class="col-sm-6">
      <input id="password" type="password" class="form-control">
    </div>

    <div class="col-sm-3">
        <div id="strength-meter" class="validation">
            <p class="status" id="password-strength"></p>
            <div class="bar" id="first"></div>
            <div class="bar" id="second"></div>
            <div class="bar" id="third"></div>
        </div>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-3 control-label">Confirm Password</label>
    <div class="col-sm-6 has-feedback">
      <input type="password" id="password_confirmation" class="form-control">
      <span id="password-match-icon" class="glyphicon glyphicon-ok form-control-feedback" style="display: none"></span>
    </div>
  </div>

  <div  class="form-group">
        <div class="col-sm-offset-3 col-sm-6">
            <button id="reset-password" type="submit" class="btn btn-success">Reset Password</button>
            <div id="reset-password-loading" class="loader loader-text" style="display: none">
                Loading...
            </div>
        </div>
  </div>

</form>
