
<div class="title-block">
<h3>Your Projects</h3>
</div>

<div class="col-xs-12 well" style="margin-top:10px;">
    <div class="col-xs-8">
          <select data-placeholder="Select projects to assign..." class="chosen-select" multiple tabindex="6">
            <option value=""></option>
            <optgroup label="NFC EAST">
              <option value="A">Dallas Cowboys</option>
              <option value="B">New York Giants</option>
              <option value="C">Philadelphia Eagles</option>
              <option value="D">Washington Redskins</option>
            </optgroup>
            <optgroup label="NFC NORTH">
              <option value="E">Chicago Bears</option>
              <option value="F">Detroit Lions</option>
              <option value="G">Green Bay Packers</option>
              <option value="H">Minnesota Vikings</option>
            </optgroup>
          </select>
    </div>

    <div class="col-xs-4">
        <button id="assign-rojects" type="submit" class="btn btn-success">Assign Projects</button>
        <img id="assign-rojects-loading" src="{{STATIC_URL}}img/loading.gif" width="16px" height="16px"/>
    </div>

</div>
<div class="row"/>
    <div class="col-xs-12 proyect-list">
        <table class="table" style="margin-top: 20px">
                <tr>
                    <td>
                      <a href="#" class="remove"><span class="glyphicon glyphicon-remove"></span></a>
                      <a href="#" class="proyect-link">Proyecto 1234</a>
                    </td>
                </tr>
          </table>
    </div>
</div>