{% extends 'general/base.html' %}

{% block javascript %}
    <script src='{{STATIC_URL}}js/user-admin.js'></script>
    <script>
    $( document ).ready(function() {
      //  $('#form').attr('autocomplete', 'off');
      //  $('#username').attr('autocomplete', 'off');
    });
    </script>
{% endblock %}

{% block titulo %}
Create User
{% endblock %}

{% block sub-menu %}
    {% include "general/submenu_manage.html" %}
{% endblock %}

{% block content %}

<div class="row"/>
    <div class="col-xs-12 title-block">
        <h3>Create New User</h3>
    </div>
</div>

<div class="row"/>
    <div class="col-xs-12 content_profile">

        <div id="create-user-error" class="alert alert-danger" style="display:{% if form.errors %}block;{% else %}none;{% endif %}">
            <span class="glyphicon glyphicon-remove form-control-feedback"></span>
            Oops! You’ve got some things to fix.
            {{ form.errors|default:"" }}
        </div>

        <form id="form" class="form-horizontal" role="form" method='POST' onsubmit="return validateCreateUserForm(true)" autocomplete="off">{% csrf_token %}

          <div id="username-form" class="form-group {% if form.username.errors %}has-error{% endif %}">
            <label class="col-sm-2 control-label">Username (*)</label>
            <div class="col-sm-7">
              <input type="text" id="username" name="username" class="form-control" autocomplete="off" value="{{ form.username.value|default:"" }}">
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label">First Name</label>
            <div class="col-sm-7">
              <input type="text" id="first_name" name="first_name" class="form-control" value="{{ form.first_name.value|default:"" }}">
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label">Last Name</label>
            <div class="col-sm-7">
              <input type="text" id="last_name" name="last_name" class="form-control" value="{{ form.last_name.value|default:"" }}">
            </div>
          </div>

          <div id="email-form" class="form-group {% if form.email.errors %}has-error{% endif %}" style="border-bottom: 1px solid #ddd; padding-bottom: 15px;">
            <label class="col-sm-2 control-label">Email (*)</label>
            <div class="col-sm-7">
              <input type="text" id="email" name="email" class="form-control" autocomplete="off" value="{{ form.email.value|default:"" }}">
            </div>
          </div>

          <div id="password-form" class="form-group {% if form.password.errors or form.confirm_password.errors %}has-error{% endif %}">
            <label class="col-sm-2 control-label">Password (*)</label>
            <div class="col-sm-7">
              <input id="password" type="password" name="password" class="form-control" autocomplete="off" value="">
            </div>

            <div class="col-sm-3">
                <div id="strength-meter" class="validation">
                    <p class="status" id="password-strength"></p>
                    <div class="bar" id="first"></div>
                    <div class="bar" id="second"></div>
                    <div class="bar" id="third"></div>
                </div>
            </div>
          </div>

          <div id="confirm-password-form" class="form-group {% if form.password.errors or form.confirm_password.errors %}has-error{% endif %}">
            <label class="col-sm-2 control-label">Confirm Password</label>
            <div class="col-sm-7 has-feedback">
              <input type="password" id="password_confirmation" name="confirm_password" class="form-control" autocomplete="off" value="">
              <span id="password-match-icon" class="glyphicon glyphicon-ok form-control-feedback" style="display: none"></span>
            </div>
          </div>

          <div class="form-group border">
            <div class="col-sm-offset-2 col-sm-2">
              <div class="checkbox">
                <label>
                  <input id="is_staff" name="is_staff" type="checkbox" {% if form.is_staff.value %}checked{% endif %}> Is Admin
                </label>
              </div>
            </div>
          </div>

          <div  class="form-group">
                <div class="col-sm-offset-2 col-sm-9 form-buttons">
                    <input type="submit" id="create-user" class="btn btn-success" value="Create"/>
                    <a href="/manage/users/" id="cancel-profile" type="submit" class="btn btn-default">Cancel</a>
                </div>
          </div>

        </form>

    </div>
</div>

{% endblock %}