{% extends 'general/base.html' %}

{% block style_css %}
    <link rel="stylesheet" href="{{STATIC_URL}}chosen_v1.1.0/chosen.css">
    <link rel="stylesheet" href="{{STATIC_URL}}image-picker/image-picker.css">
{% endblock %}


{% block javascript %}
    <script src='{{STATIC_URL}}js/user-admin.js'></script>
    <script src="{{STATIC_URL}}chosen_v1.1.0/chosen.jquery.js" type="text/javascript"></script>
    <script src="{{STATIC_URL}}image-picker/image-picker.js" type="text/javascript"></script>
    <script type="text/javascript">
        $('.chosen-select').chosen();

        jQuery("select.image-picker").imagepicker({
		    hide_select : true,
            show_label  : true,
            clicked:function(picker){
                $('#photo').val(null);
                var currentValue = $(".image-picker").data("picker").selected_values();
                //alert("val: "+$('.image-picker :selected').val());
                //$('.image-picker :selected').val()
                $('.image-picker .show-html :selected').prop('selected', false);
            }
        });

    </script>
{% endblock %}

{% block sub-menu %}
    {% if user.is_staff %}
        {% include "general/submenu_manage.html" %}
    {% endif %}
{% endblock %}

{% block titulo %}
Edit User
{% endblock %}

{% block content %}
<div class="row">

    <div class="col-xs-3">
        <div class="side-menu">
            <div class="user-profile">
                <div class="profile-image">
                    <img alt="Abraj_albait_towers" class="staff-img" src="{{ MEDIA_URL }}{{ form.thumbnail.value }}" title="Sergio Cirasa">
                </div>

                <div class="profile-name">
                    {% if form.first_name.value %}
                    <h2>{{ form.first_name.value|title }}<br>{{ form.last_name.value|title }} </h2>
                    {% else %}
                        <h2>{{ form.username.value }} </h2>
                    {% endif %}
                    {% if form.is_staff.value %}
                        <span class="label label-danger">Admin</span>
                    {% else %}
                        <span class="label label-success">Developer</span>
                    {% endif %}
                </div>
            </div>
            <div class="menu-items">
                <ul class="clear">
                    <li id="navigation_profile_projects" {% if submenu == None or submenu == "profile_projects" %}class="selected"{% endif %}>
                        <a href="#profile_projects">Projects</a>
                    </li>
                    <li id="navigation_profile_base"  {% if submenu and submenu == "profile_base" %}class="selected"{% endif %}>
                        <a href="#profile_base">Basic Info</a>
                    </li>
                    <li id="navigation_profile_password" {% if submenu and submenu == "profile_password" %}class="selected"{% endif %}>
                        <a href="#profile_password">Security</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-xs-9" style="min-height: 200px">
        <div id="content_profile_projects" {% if submenu == None or submenu == "profile_projects" %}style="display:block;"{% else %}style="display:none;"{% endif %}>
            {% include "admin/user/content_profile_projects.html" %}
        </div>
        <div id="content_profile_base" {% if submenu == "profile_base" %}style="display:block;"{% else %}style="display:none;"{% endif %}>
            {% include "admin/user/content_profile_base.html" %}
        </div>
        <div id="content_profile_password" {% if submenu == "profile_password" %}style="display:block;"{% else %}style="display:none;"{% endif %}>
            {% include "admin/user/content_profile_password.html" %}
        </div>
    </div>

</div>
{% endblock %}
