<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Sign in</title>

  <link rel='stylesheet' href='{{STATIC_URL}}bootstrap-3.1.1/css/bootstrap.css'>
  <link rel='stylesheet' href='{{STATIC_URL}}css/login.css'>
  <script src='{{STATIC_URL}}js/jquery-2.1.0.js'></script>
  <script src='{{STATIC_URL}}bootstrap-3.1.1/js/bootstrap.min.js'></script>
  </head>

    <body class="bg-black">
        <div class="form-box" id="login-box">
            <div class="header">Sign In</div>
            <form method='POST'  role="form">{% csrf_token %}
                <div class="body bg-gray">
                    {% if next %}
                    <input type="hidden" name="next" value="{{next}}" />
                    {% endif %}
                    <div class="form-group">
                        <input type="text" name="username" class="form-control" placeholder="username / email"/>
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" class="form-control" placeholder="password"/>
                    </div>
                    {% if error %}
                    <div class="alert alert-danger alert-dismissable">
                      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                      <strong>Invalid username or password.</strong>
                    </div>
                    {% endif %}
                </div>
                <div class="footer">
                    <button type="submit" class="btn bg-blue btn-block">Sign in</button>
                </div>
            </form>
        </div>
    </body>

</html>