{% extends 'general/base.html' %}

{% block javascript %}
    <script src='{{STATIC_URL}}js/datepicker.js'></script>
    <script src='{{STATIC_URL}}js/timesheet.js'></script>
{% endblock %}

{% block style_css %}
    <link rel='stylesheet' href='{{STATIC_URL}}css/datepicker.css'>
    <style>
        .popover{z-index: 9054;}
    </style>
{% endblock %}

{% block titulo %}
Timesheet
{% endblock %}

{% block sub-menu %}

    <div class="sub-navbar">
        <div class="container">
          <nav class="sub-nav">
            <a href="/timesheet/" class="sub-nav-item active" href="#">Time</a>
          </nav>
        </div>
    </div>
    <div style="height: 39px"></div>
{% endblock %}

{% block content %}

 <div class="row">
    <div class="col-xs-offset-1 col-xs-7">
        <h2 class="title-date">{{ currentDay|date:"l" }} <span>{{ currentDay|date:"d" }} {{ currentDay|date:"b" }}</span></h2>
    </div>

    <div class="col-xs-4" style="margin-bottom: 20px;">
        <div class="date-menu">
            <div class="btn-group">
              <a href="/timesheet/day/{{ nextDay|date:"Y/m/d" }}" class="btn btn-default">
                <span class="glyphicon glyphicon-chevron-left" style=""></span>
              </a>
              <a href="/timesheet/day/{{ today|date:"Y/m/d" }}" class="btn btn-default {% if today == currentDay %}active{% endif %}">
                Today
              </a>
              <a href="/timesheet/day/{{ previousDay|date:"Y/m/d" }}" class="btn btn-default">
                <span class="glyphicon glyphicon-chevron-right" style=""></span>
              </a>
            </div>
            <a href="#" id="datePicker" data-date-format="yyyy/mm/dd" data-date-position="left" data-date="{{ currentDay|date:"Y/m/d" }}" class="btn btn-default"><span class="glyphicon glyphicon-calendar"></span></a>
        </div>
    </div>
 </div>

 <div class="row">

    <div class="col-xs-1">
        <a href="#" id="new-entry" class="btn btn-success" data-toggle="modal" data-target="#new-entry-modal">
            <img src="{{ STATIC_URL }}img/new-entry.png" width="30px" />
        </a>
        <label class="new-entry-label">New Entry</label>
    </div>

    <div class="col-xs-11">

        <div class="row">
           <div class="col-xs-12">
               <div class="btn-group week">
                      {% for day in days %}
                                <a href="/timesheet/day/{{ day.date|date:"Y/m/d" }}" class="btn btn-default {% if day.date == currentDay %}active{% endif %}" role="button">
                                {{ day.title }}
                                <div {% if day.date == currentDay %}id="today"{% endif %}>{{ day.hours }}</div>
                              </a>

                      {% endfor %}
                      <a class="btn btn-default last">
                        Total: <label id="totalHours">{{ totalHours }}</label>
                      </a>
              </div>
          </div>
        </div>

        <div class="row">
            <div class="col-xs-12 scroll-content" data-remove-height="280">

                <ul id="tasks" class="manage-list">
                    {% for task in tasks %}
                    <li id="{{ task.id }}">
                      <div class="manage-list-item col disabled-hightlight">
                        <div class="col-xs-10 col-md-10 left left-block">
                          <h3 >{{ task.project.name }} - ({{ task.type }})</h3>
                          <p>{{ task.description }}</p>
                        </div>
                        <div class="col-xs-2 col-md-2 right right-block">
                          <h3>{{ task.duration }}</h3>
                          <button type="button" onclick="javascript:showEditModal('{{ task.id }}','{{ task.project.id }}','{{ task.type }}','{{ task.description }}','{{ task.duration }}')" class="btn btn-default btn-lg">
                             <span class="glyphicon glyphicon-pencil"></span>
                          </button>
                        </div>
                      </div>
                    </li>
                    {% endfor %}
                </ul>

            </div>
        </div>

    </div>
 </div>

    <div class="modal fade" id="new-entry-modal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">
                New Time Entry<span class="js-spent-at-display spent-at-display">{{ currentDay|date:"l, d b"|title }}</span>
            </h4>
          </div>

          <div class="modal-body">
            <form class="form-horizontal content_profile" role="form">
                <input id="new-date" value="{{ currentDay|date:"Y/m/d" }}" type="hidden">
                <div class="form-group" style="margin-bottom: 5px;">
                    <div class="col-sm-12">
                        <h4 class="modal-title">Project/Task</h4>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <select id="new-project" class="form-control">
                          {% for project in projects %}
                          <option value="{{ project.id }}">{{ project.name }}</option>
                          {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <select id="new-type" class="form-control">
                          {% for type in tasksTypes %}
                          <option value="{{ type.1 }}">{{ type.0 }}</option>
                          {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group" style="margin-bottom: 0px">
                    <div class="col-sm-12">
                      <textarea id="new-description" class="form-control" placeholder="Notes (optional)"></textarea>
                      <span id="new-duration-content"><input type="text" id="new-duration" placeholder="0.00" class="form-control" data-container="body" data-toggle="popover" data-placement="right" data-content="You can enter time as 1.5 or 1:30. We know both mean 1 hour and 30 minutes."></span>
                    </div>
                </div>
            </form>
          </div>
          <div class="modal-footer">
              <div>
                 <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                 <button id="save" type="button" class="btn btn-primary">Save Entry</button>
              </div>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


    <div class="modal fade" id="edit-entry-modal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">
                Edit Time Entry<span class="js-spent-at-display spent-at-display">{{ currentDay|date:"l, d b"|title }}</span>
            </h4>
          </div>

          <div class="modal-body">
            <form class="form-horizontal content_profile" role="form">
                <input id="edit-taskId" type="hidden" value="">
                <input id="edit-date" value="{{ currentDay|date:"Y/m/d" }}" type="hidden">
                <div class="form-group" style="margin-bottom: 5px;">
                    <div class="col-sm-12">
                        <h4 class="modal-title">Project/Task</h4>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <select id="edit-project" class="form-control">
                          {% for project in projects %}
                          <option value="{{ project.id }}">{{ project.name }}</option>
                          {% endfor %}
                        </select>
                    </div>
                </div>
                <div id="edit-task" class="form-group">
                    <div class="col-sm-12">
                        <select id="edit-type" class="form-control">
                          {% for type in tasksTypes %}
                          <option value="{{ type.1 }}">{{ type.0 }}</option>
                          {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group" style="margin-bottom: 0px">
                    <div class="col-sm-12">
                      <textarea id="edit-description" class="form-control" placeholder="Notes (optional)"></textarea>
                      <span id="edit-duration-content"><input type="text" id="edit-duration" placeholder="0.00" class="form-control" data-container="body" data-toggle="popover" data-placement="right" data-content="You can enter time as 1.5 or 1:30. We know both mean 1 hour and 30 minutes."></span>
                    </div>
                </div>
            </form>
          </div>
          <div class="modal-footer">
              <div style="float: left;">
                <button id="remove" type="button" class="btn btn-danger" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Remove</button>
              </div>
              <div>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button id="update" type="button" class="btn btn-success">Update</button>
              </div>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

{% endblock %}