{% extends 'general/base.html' %}

{% block javascript %}
    <script src='{{STATIC_URL}}js/project-admin.js'></script>
{% endblock %}

{% block titulo %}
Archived Projects
{% endblock %}

{% block sub-menu %}
    {% include "general/submenu_manage.html" %}
{% endblock %}


{% block content %}

<div class="row"/>
    <div class="col-xs-12 title-block">
        <h3>Archived Projects</h3>
        <h4>Click on a project to reactivate it. When you're done, you can go back to the <a href="/manage/projects/">active project list.</a></h4>
    </div>
</div>


<div class="row"/>
    <div class="col-xs-12">
        <ul id="archived-projects" class="manage-list">
            <li>
                <h2 id="projects-count" class="manage-list-header">Projects ({{ projects|length }})</h2>
            </li>
            {% for project in projects %}
            <li id="{{ project.id }}" class="archived">
              <div class="manage-list-item">
                <a href="javascript:archiveProject({{ project.id }},'False')" class="reactivate-link"></a>
                <div style="display: inline-block;">
                  <h3>{{ project.name|title }} {% if project.client %} - {{ project.client|title }}{% endif %}</h3>
                  <p>{{ project.type }}</p>
                </div>
              </div>
            </li>
            {% endfor %}

        </ul>

    </div>
</div>

{% endblock %}