<div class="row"/>
    <div class="col-xs-12 title-block">
        <h3>Edit Project</h3>
    </div>
</div>

<div class="row"/>
    <div class="col-xs-12 content_profile">

        <div id="edit-project-error" class="alert alert-danger" style="display: none;">
            <span class="glyphicon glyphicon-remove form-control-feedback"></span>
            Oops! You’ve got some things to fix.
        </div>

        <form class="form-horizontal" role="form">

          <div id="form-project-name" class="form-group">
            <label class="col-sm-3 control-label">Project Name (*)</label>
            <div class="col-sm-7">
              <input type="text" id="project-name" class="form-control">
            </div>
          </div>

          <div id="form-project-type" class="form-group">
            <label class="col-sm-3 control-label">Type of Project (*)</label>
            <div class="col-sm-7">
              <select id="project-type" class="form-control">
                  <option value="Android">Android</option>
                  <option value="Backend/WS">Backend/WS</option>
                  <option value="Blackberry">Blackberry</option>
                  <option value="Flash">Flash</option>
                  <option value="iPad">iPad</option>
                  <option value="iPhone">iPhone</option>
                  <option value="iPhone/iPad">iPhone/iPad</option>
                  <option value=".Net">.Net</option>
                  <option value="Web">Web</option>
                  <option value="Other">Other</option>
               </select>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label">Estimated Hours</label>
            <div class="col-sm-7">
              <input type="text" id="estimated-hours" class="form-control">
            </div>
          </div>

          <div class="form-group border">
          <div class="col-sm-offset-3 col-sm-7">
              <div class="checkbox">
                <label>
                  <input id="is_active" type="checkbox"> Is Active
                </label>
              </div>
          </div>
          </div>

          <div  class="form-group">
                <div class="col-sm-offset-3 col-sm-9 form-buttons">
                    <a href="#" id="edit-project" class="btn btn-success">Save</a>
                    <a href="/manage/projects/" id="cancel-profile" type="submit" class="btn btn-default">Cancel</a>
                </div>
          </div>

        </form>

    </div>
</div>