
<div class="title-block">
<h3>Team</h3>
</div>

<input type="hidden" name="submenu" value="project_team">
<input type="hidden" id="projectId" name="id" value="{{ form.id.value|default:"" }}">
<div class="col-xs-12 well" style="margin-top:10px;">
    <div class="col-xs-8">
          <select data-placeholder="Select people to assign..." class="chosen-select" multiple tabindex="6">
                {% for user in users %}
                    {% if user.first_name %}
                        <option {% if user in projectUsers %}disabled {% endif %}value="{{ user.id }}">{{ user.first_name|title }} {{ user.last_name|title }}</option>
                    {% else %}
                        <option {% if user in projectUsers %}disabled {% endif %}value="{{ user.id }}">{{ user.username|title }}</option>
                    {% endif %}
                {% endfor %}
          </select>
    </div>
    <div class="col-xs-4">
        <button id="assign-users" style="height: 36px; margin-top: 1px" type="submit" class="btn btn-success">Assign People</button>
        <img id="assign-users-loading" style="display: none" src="{{STATIC_URL}}img/loading.gif" width="16px" height="16px"/>
    </div>
</div>

<div class="row"/>
    <div class="col-xs-12 user-list">
        <div class="scroll-content" data-remove-height="324">
            <table class="table" style="margin-top: 20px; border-bottom: 1px solid #ddd;">
                    {% for user in projectUsers %}
                    <tr id="{{ user.id }}">
                        <td class="decoration-none">
                            <a href="javascript:removeUserFromProject('{{ user.id }}','{{ form.id.value }}')">
                            <span class="glyphicon glyphicon-remove"></span>
                            {% if user.first_name %}
                                <span class="project-link">{{ user.first_name|title }} {{ user.last_name|title }}</span>
                            {% else %}
                                <span class="project-link">{{ user.username|title }}</span>
                            {% endif %}
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
            </table>
        </div>
    </div>
</div>