{% extends 'general/base.html' %}

{% block javascript %}
    <script src='{{STATIC_URL}}js/project-admin.js'></script>
{% endblock %}

{% block titulo %}
Manage Projects
{% endblock %}

{% block sub-menu %}
    {% include "general/submenu_manage.html" %}
{% endblock %}


{% block content %}

<div class="row"/>
    <div class="col-xs-8 title-block">
        <h3>Manage Projects</h3>
    </div>
    <div class="col-xs-4">
        <form action="/manage/projects/" method="get">
            <div class="input-group">
              <input id="search" name="search" type="text" class="form-control" placeholder="Search by project" value="{% if search %}{{ search }}{% endif %}">
                <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
            </div>
        </form>
    </div>
</div>


<div class="row" style="margin-top: 10px"/>
    <div class="col-xs-6">
        <a href="/manage/projects/new" class="btn btn-success add-button"><span class="glyphicon glyphicon-plus"></span>Create Project</a>
    </div>
    <div class="col-xs-6" >
        <div class="upper_side_link" >
            <a href="/manage/projects/archived/">Manage Archived Projects</a>
        </div>
    </div>
</div>

<div class="row"/>
    <div class="col-xs-12">
        <ul class="manage-list">
            <li>
                <h2 id="projects-count" class="manage-list-header">Projects ({{ projects|length }})</h2>
            </li>

            {% for project in projects %}
            <li id="{{ project.id }}" class="project">
              <div class="manage-list-item">
                <a href="/manage/projects/edit/1" class="btn btn-info left-button">Edit</a>
                <div style="display: inline-block;">
                  <h3>{{ project.name|title }} {% if project.client %} - {{ project.client|title }}{% endif %}</h3>
                  <p>{{ project.type }}</p>
                </div>
                <div class="secondary-buttons">
                  <button onclick="javascript:archiveProject({{ project.id }},'True')" class="btn btn-warning right-button archived">Archive</button>
                </div>
              </div>
            </li>
            {% endfor %}

        </ul>

    </div>
</div>

{% endblock %}